*{
	padding: 0px;
	margin:0px;
	color: white;

}

body {

background-image: url('image.jpeg');
}

h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: justify;
	text-justify: inter-word;
	padding-top: 20px;
}

h2 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	text-align: justify;
	text-justify: inter-word;

}

h3 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	text-align: justify;
	text-justify: inter-word;
	color: black

}

p {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: justify;
	text-justify: inter-word;

}

pre {
	width: 800px;
	text-align: left;
	padding: 5px;
	border: white 2px solid;
	color: white

}

code{
color: white;
z-index: 1
}

#container {
	width: 900px;
	opacity: 0.95;
	background-color: black ;
	z-index: 1;
	 position: absolute;
	 top:0px;
	left: 25%;
}

#text {
	position: absolute;
	width: 1000px;
	z-index: 1;
	background-color: black;
	color: white;

	padding: 30px;

}

#map {
	width: 1000x;
	height: 200px;
	z-index: 99;
		opacity: 1;

}






